<ion-view id="join-group">
  <ion-nav-title>Join Group</ion-nav-title>
  <ion-content class="padding">
    <h4 class="text-center padding-bottom">
      What would you like to do?
    </h4>

    <button
      class="button button-block button-clear button-positive"
      ng-click="$ctrl.goToCreateGroup()">
      Create Group
    </button>

    <button
      class="button button-block button-clear button-positive"
      ng-click="$ctrl.goToJoinGroup()">
      Group Code
    </button>
  </ion-content>
</ion-view>
