<ion-view id="create-group" cache-view="false">
  <ion-nav-title>Create Group</ion-nav-title>
  <ion-content class="padding">
    <form ng-submit="$ctrl.createGroup()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">What's the group name?</span>
          <input type="text" placeholder="Tap Here" ng-model="$ctrl.group.name" autocomplete="off" autocorrect="off"
                 autocapitalize="on" spellcheck="false">
        </label>
      </div>

      <button
        type="submit"
        class="button button-block button-clear button-positive"
        ng-disabled="$ctrl.isInvalid()">
        Create
      </button>
    </form>
  </ion-content>
</ion-view>
