<ion-view id="overview">
  <ion-nav-title>🌮😺</ion-nav-title>
  <ion-nav-buttons side="right">
    <button settings></button>
  </ion-nav-buttons>

  <ion-content>

    <ion-spinner ng-if="$ctrl.loading" icon="lines"></ion-spinner>

    <div class="padding" ng-if="!$ctrl.loading && !$ctrl.error">
      <div ng-if="$ctrl.user">
        <h4
          ng-if="!$ctrl.you"
          class="text-center">
          {{ $ctrl.user.realName }}
        </h4>

        <h3 class="text-center">{{ $ctrl.user.name }}{{$ctrl.you ? ', you have' : ' has' }} eaten</h3>

        <div class="taco-count text-center">{{ $ctrl.tacoCounter }}</div>

        <h3 class="text-center padding-bottom">
          {{ $ctrl.tacoCounter === 1 ? 'taco' : 'tacos' }}! {{$ctrl.user.tacos === 0 ? '🙀' : '🌮🌮🌮'}}
          <div class="tacos-today" ng-if="$ctrl.user.tacosToday">+{{$ctrl.user.tacosToday}} tacos hoy</div>
        </h3>
      </div>

      <button
        class="button button-positive skinny-button"
        ng-if="$ctrl.you"
        taco-editor>
        Más Tacos
      </button>

      <div ng-if="$ctrl.activity.length > 0">
        <div class="card" ng-repeat="day in $ctrl.activity">
          <div  class="list">
            <div class="item item-divider">
              <span>{{day.grouping}}</span>
              <span class="item-note">{{day.tacos}} {{day.tacos === 1 ? 'taco' : 'tacos'}}</span>
            </div>
            <taco-item ng-class="{'no-border': $index === 0}" event="event" ng-repeat="event in day.events"></taco-item>
          </div>
        </div>
      </div>
    </div>

    <div class="padding text-center" ng-if="$ctrl.error">
      <span class="error-text">Could not load user. This is probably because you have recently been deleted. Talk to Matt or Daniel if you think you're seeing this in error.</span>

      <button
        class="button button-block button-clear button-positive"
        ng-click="$ctrl.clearUser()">
        RETURN TO LOGIN
      </button>
    </div>
  </ion-content>
</ion-view>
