<ion-view id="overview">
  <ion-nav-title>🌮😺</ion-nav-title>
  <ion-content class="padding">

    <ion-spinner ng-if="$ctrl.loading" icon="lines"></ion-spinner>

    <div ng-if="!$ctrl.loading">
      <div ng-if="$ctrl.user">
        <h3 class="text-center">{{ $ctrl.user.name }}, you have eaten</h3>

        <div class="taco-count text-center">{{ $ctrl.tacoCounter }}</div>

        <h3 class="text-center">{{ $ctrl.tacoCounter === 1 ? 'taco' : 'tacos' }}! {{$ctrl.user.tacos === 0 ? '🙀' : '🌮🌮🌮'}}</h3>
      </div>

      <button class="button button-block button-clear button-positive" ng-click="$ctrl.tacosModal($event)">
        {{$ctrl.user.tacos === 0 ? 'Eat Some Tacos' : 'Eat More Tacos'}}
      </button>

      <ion-list>
        <ion-item ng-repeat="event in $ctrl.user.tacoEvents">
          {{$ctrl.user.name}} {{ event.initial ? 'started with' : 'ate' }} {{ event.tacos }} {{ event.tacos === 1 ? 'taco' : 'tacos' }}
          <p am-time-ago="event.moment"></p>
          <p ng-bind="event.tacos | tacoFilter"></p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
