<ion-view>
  <ion-nav-title>🌮😺</ion-nav-title>
  <ion-content>

    <ion-spinner ng-if="$ctrl.loading" icon="lines"></ion-spinner>

    <div ng-if="!$ctrl.loading">
      <div ng-if="$ctrl.user">
        <h3>{{ $ctrl.user.name }}, you have eaten</h3>

        <h1>{{ $ctrl.user.tacos }}</h1>

        <h3>tacos! 🌮🌮🌮</h3>
      </div>

      <p ng-if="modal.newTacos">{{ modal.newTacos.tacos }} just now!</p>

      <button class="button button-block button-clear button-positive" ng-click="$ctrl.tacosModal($event)">Add More Tacos</button>
    </div>
  </ion-content>
</ion-view>
