<ion-view id="leaderboard">
  <ion-nav-title>
    <date-selection title="🌮🏆"></date-selection>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button settings></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader">
    <div class="tabs">
        <a class="tab-item join-group-item"
          ng-click="$ctrl.joinGroup()"
          ng-if="$ctrl.firebase.hasGroup() === false"
      >
        <i class="icon ion-person-add">Join Group</i>
      </a>
      <a class="tab-item tab-item-active" ng-class="{'tab-item-wide': $ctrl.firebase.hasGroup()}">
        {{ $ctrl.firebase.getGroup($ctrl.groupId).name }}
      </a>
    </div>
  </div>
  
  <ion-content class="has-subheader">
    
    <ion-spinner ng-if="!$ctrl.leaderboard" icon="lines"></ion-spinner>
    <div ng-if="$ctrl.leaderboard" class="card">
      <div class="list">
        <leaderboard-list-item
          ng-class="{'no-border': $index === 0, 'you': eater.id === $ctrl.firebase.user.id}"
          eater="eater"
          show-group-name="$ctrl.displayingGlobal"
          ng-repeat="eater in $ctrl.leaderboard">
        </leaderboard-list-item>
      </div>
    </div>

  </ion-content>
</ion-view>
