<!--<ion-nav-view>-->
  <!--<ion-nav-bar class="bar-stable">-->
    <!--<ion-nav-title>🌮😺</ion-nav-title>-->
    <!--<ion-nav-buttons side="right">-->
      <!--<button settings></button>-->
    <!--</ion-nav-buttons>-->
  <!--<ion-nav-back-button>-->
  <!--</ion-nav-back-button>-->
  <!--</ion-nav-bar>-->
<!--</ion-nav-view>-->

<!--<ion-view>-->
  <!--<ion-content>-->
    <button
      class="button button-block button-clear button-positive"
      ng-click="$ctrl.hey()">
      Login with Facebook
    </button>
  <!--</ion-content>-->
<!--</ion-view>-->
