<ion-nav-view>
  <div>
    <ion-nav-bar class="bar-stable">
      <ion-nav-title>Login</ion-nav-title>
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
  </div>
  <ion-view class="login">
    <ion-content class="padding">
      <button
        class="button button-block button-positive login-facebook-button"
        ng-click="$ctrl.loginWithFacebook()">
        Login with Facebook
      </button>

      <button
        class="button button-block button-positive login-facebook-button"
        ng-click="$ctrl.logout()">
        Logout
      </button>
    </ion-content>
  </ion-view>
</ion-nav-view>
