<ion-view id="leaderboard">
  <ion-nav-title id="leaderboard-header" ng-click="$ctrl.showPopover($event)">
    {{ $ctrl.last30Days ? '30 Days' : 'All Time' }} 
    <i class="icon ion-chevron-down"></i>
    🌮🏆
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button
      class="button button-icon button-clear button-positive"
      ng-class="($ctrl.hasGroup())? 'ion-gear-a' : 'ion-plus'"
      ng-click="$ctrl.goToGroup()"
    ></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader">
    <div class="tabs">
      <a class="tab-item"
         ng-class="(!$ctrl.displayingGlobal)? 'tab-item-active' : ''"
         ng-click="$ctrl.displayGroup()"
         ng-if="$ctrl.hasGroup()"
      >
        {{ $ctrl.groupName() }}
      </a>
      <a class="tab-item"
         ng-class="($ctrl.displayingGlobal)? 'tab-item-active' : ''"
         ng-click="$ctrl.displayGlobal()"
      >
        Global Top 10
      </a>
    </div>
  </div>
  
  <ion-content class="has-tabs-top">
    <ion-spinner ng-if="!$ctrl.leaderboard" icon="lines"></ion-spinner>
    <div ng-if="$ctrl.leaderboard" class="card">
      <div class="list">
        <leaderboard-list-item
          ng-class="{'no-border': $index === 0, 'you': eater.id === $ctrl.firebase.user.id}"
          eater="eater"
          show-group-name="$ctrl.displayingGlobal"
          ng-repeat="eater in $ctrl.leaderboard">
        </leaderboard-list-item>
      </div>
    </div>
  </ion-content>
</ion-view>
