<ion-popover-view id="leaderboard-popover" class="fit">
  <ion-content>
    <ion-item class="item item-icon-left" ng-click="$ctrl.changeDateSelection(true)">
      <i class="icon ion-checkmark" ng-show="$ctrl.last30Days"></i>
      Last 30 Days <span>🌮</span>
    </ion-item>
    <ion-item class="item item-icon-left" ng-click="$ctrl.changeDateSelection(false)">
      <i class="icon ion-checkmark" ng-show="!$ctrl.last30Days"></i>
      All Time <span>🌮🌮🌮</span>
    </ion-item>
  </ion-content>
</ion-popover-view>