#leaderboard .radio-button {
  display: flex;
}
#leaderboard .tab-item-active {
  border-bottom: 1px solid #000;
  color: #000;
}
#leaderboard .you ion-item {
  background: #fffcc1;
}
#leaderboard-header .ion-chevron-down {
  margin-right: 3px;
  font-size: 14px;
}

#leaderboard-popover .ion-checkmark {
  font-size: 19px;
}