<ion-view id="leaderboard">
  <ion-nav-title>
    <date-selection title="🌮🤼"></date-selection>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button settings></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader">
    <div class="tabs">
      <a class="tab-item tab-item-active">
        Top Groups
      </a>
    </div>
  </div>

  <ion-content class="has-subheader">
    <div ng-if="$ctrl.firebase.groupAggregate" class="card">
      <div class="list">
        <groups-leaderboard-list-item
          ng-class="{'no-border': $index === 0, 'you': group.groupId === $ctrl.firebase.user.groupId}"
          group="group"
          ng-repeat="group in $ctrl.firebase.groupAggregate">
        </groups-leaderboard-list-item>
      </div>
    </div>
  </ion-content>
</ion-view>
