<ion-view id="sign-up">
  <ion-nav-title>🌮😺</ion-nav-title>

  <ion-content class="padding">
    <h4 class="text-center padding-bottom">Welcome to Taco Gato!</h4>

    <h5 class="text-center padding-bottom">Create an account below</h4>

    <form ng-submit="$ctrl.signUp()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="(Required)" ng-model="$ctrl.model.email" autocomplete="off" autocorrect="off"
                 autocapitalize="off" spellcheck="false">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="(Required)" ng-model="$ctrl.model.password" autocomplete="off"
                 autocorrect="off" autocapitalize="off" spellcheck="false">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">What's your taco name?</span>
          <input type="text" placeholder="(e.g. Tacopolis)" ng-model="$ctrl.user.name" autocomplete="off"
                 autocorrect="off" autocapitalize="on" spellcheck="false">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">What's your real name?</span>
          <input type="text" placeholder="(e.g. John Doe)" ng-model="$ctrl.user.realName" autocomplete="off"
                 autocorrect="off" autocapitalize="on" spellcheck="false">
        </label>
      </div>
      <button
        type="submit"
        class="button button-block button-positive"
        ng-disabled="!$ctrl.isValid()">
        Get Started
      </button>
    </form>
  </ion-content>
</ion-view>
