<ion-view id="group">
  <ion-nav-title>Group</ion-nav-title>
  <ion-content class="padding">
    <h4 class="text-center padding-bottom">
      What would you like to do?
    </h4>

    <div>
      <button
        class="button button-block button-clear button-positive"
        ng-click="$ctrl.goToCreateGroup()">
        Create Group
      </button>

      <button
        class="button button-block button-clear button-positive"
        ng-click="$ctrl.goToFindGroup()">
        Find Group
      </button>

      <button
        class="button button-block button-clear button-positive"
        ng-click="$ctrl.goToJoinGroup()">
        Group Code
      </button>
    </div>
  </ion-content>
</ion-view>
