<ion-view id="activity">
  <ion-nav-title>🌮🗒</ion-nav-title>
  <ion-content class="padding-horizontal">
    <ion-spinner ng-if="!$ctrl.firebase.activity" icon="lines"></ion-spinner>
    <div class="card" ng-repeat="day in $ctrl.firebase.activity">
      <div class="list">
        <div class="item item-divider">{{day.grouping}}</div>
        <taco-item ng-class="{'no-border': $index === 0}" event="event" ng-repeat="event in day.events"></taco-item>
      </div>
    </div>
  </ion-content>
</ion-view>
