<ion-modal-view id="settings">
  <ion-header-bar class="bar-stable">
    <button class="button button-icon icon ion-chevron-down" ng-click="modal.hide()"></button>
    <h1 class="title">Settings</h1>
    <button class="button button-clear button-assertive" ng-click="logOut()">Log Out</button>
  </ion-header-bar>
  <ion-content class="padding">

    <form>
      <div class="list">
        <ion-toggle
          ng-change="settings.setProperty('darkMode', settings.darkMode)"
          ng-model="settings.darkMode" toggle-class="toggle-positive">
          Dark Mode
        </ion-toggle>
        <ion-toggle
          ng-change="setLast30Days(settings.last30Days)"
          ng-model="settings.last30Days" toggle-class="toggle-positive">
          Default to Last 30 Days
        </ion-toggle>
        <label class="item item-input item-stacked-label">
          <span class="input-label">What's your taco name?</span>
          <input type="text" placeholder="Tap Here" ng-model="editableUser.name" autocomplete="off" autocorrect="off"
                 autocapitalize="on" spellcheck="false">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">What's your real name?</span>
          <input type="text" placeholder="Tap Here" ng-model="editableUser.realName" autocomplete="off"
                 autocorrect="off" autocapitalize="on" spellcheck="false">
        </label>
      </div>

      <button
        type="submit"
        class="button button-block button-clear button-positive"
        ng-disabled="isInvalid()"
        ng-click="updateUser()">
        Save
      </button>

      <button
        type="submit"
        class="button button-block button-clear button-positive"
        ng-click="migrateTacos()">
        Migrate Tacos
      </button>
    </form>
  </ion-content>
</ion-modal-view>
