<ion-view id="find-group">
  <ion-nav-title>Find Group</ion-nav-title>
  <ion-content class="padding">
    <h4 class="text-center padding-bottom">
      Pick a group to join.
    </h4>

    <div class="list">

      <div
        ng-repeat="group in $ctrl.groups"
        class="item item-button-right group-item">
            {{group.name}}
            <p>Created by: {{$ctrl.getGroupCreatorName(group)}}</p>
            <button class="button button-positive" ng-click="$ctrl.joinGroup(group)">
              <i class="icon ion-arrow-right-b"></i>
            </button>
      </div>

    </div>
  </ion-content>
</ion-view>
