<ion-modal-view id="overview-help">
  <ion-header-bar class="bar-stable">
    <button class="button button-icon icon ion-chevron-down" ng-click="modal.hide()"></button>
    <h1 class="title">
      Need Help?
    </h1>
  </ion-header-bar>
  <ion-content class="padding">

    <div>
      <h4 class="text-center padding-bottom">If you need help with anything or are having any issues, reach out to Matt Taylor or Daniel Ryan on slack.</h4>
    </div>

    <div class="padding-top">
      <h4 class="text-center padding-bottom">If you have already been using Taco Gato and need to log back in:</h4>
      <button
        class="button button-block button-clear button-positive"
        ng-click="$ctrl.logBackIn()">
        Log Back In
      </button>
    </div>

  </ion-content>
</ion-modal-view>
