<ion-view id="welcome">
  <ion-nav-title>🌮😺</ion-nav-title>

  <ion-content class="padding">
    <h4 class="text-center padding-bottom">Welcome to Taco Gato!</h4>

    <img class="taco" src="../../../img/Taco.png">

    <button
      type="submit"
      class="button button-block button-positive"
      ui-sref="sign-up">
      Get Started
    </button>
    <button
      type="button"
      class="button button-block button-clear button-positive"
      ui-sref="login">
      Already a member?
    </button>

  </ion-content>
</ion-view>
