<ion-nav-view>
  <ion-view id="welcome" hide-back-button="true">
    <ion-content class="padding no-tabs">
      <div>
        <h4 class="text-center padding-bottom">
          We just need your name and how many tacos you think you've eaten so far this month
        </h4>
        <div class="list">
        </div>

        <button
          class="button button-block button-clear button-positive"
          ng-disabled="!$ctrl.user.name || !$ctrl.user.realName"
          ng-click="$ctrl.saveUser()">
          Join Kaizen
        </button>
      </div>
    </ion-content>
  </ion-view>
</ion-nav-view>
