<ion-nav-view>
  <ion-view id="welcome" hide-back-button="true">
    <ion-content class="padding no-tabs">
      <div>
        <h4 class="text-center padding-bottom">
          We just need your name and how many tacos you think you've eaten so far this month
        </h4>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">What's your display name?</span>
            <input type="text" placeholder="Tap Here" ng-model="$ctrl.user.name">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">How many tacos have you eaten?</span>
            <input type="tel" placeholder="0" ng-model="$ctrl.user.tacos">
          </label>
        </div>

        <button
          class="button button-block button-clear button-positive"
          ng-disabled="!$ctrl.user.name"
          ng-click="$ctrl.saveUser()">
          Join Kaizen
        </button>
      </div>
    </ion-content>
  </ion-view>
</ion-nav-view>
