ion-tabs.tabs-bottom.hidden .tabs {
  display: none;
}

/*fixes bar on iPhone X*/
.bar-subheader .tabs {
  height: 49px !important;
  padding-bottom: 0 !important;
}
.bar-subheader {
  padding: 0;
}
.has-tabs-top {
  top: 89px !important;
  top: calc(env(safe-area-inset-top) + 89px) !important;
}

ion-content, body {
  background: #f4f2f5;
}

#welcome ion-content,
#login ion-content,
#more-tacos ion-content,
#sign-up ion-content,
#settings ion-content {
  background: #fff;
}

ion-spinner {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.disabled {
  opacity: .3;
  pointer-events: none;
}

button.button-clear {
  font-variant: all-petite-caps;
  font-size: 24px !important;
}

ion-content.has-tabs.no-tabs {
  bottom: 0 !important;
}

.blocked {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  font-size: 24px;
}

.tab-item.tab-item-active {
  color: #397df5;
}

.list:last-child {
  margin-bottom: -1px;
}

#welcome .question-section {
  margin-bottom: 20px;
}
#welcome .question-section h1 {
  font-size: 20px;
}
#welcome .user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  height: 46px
}
#welcome .user-item button {
  min-height: 30px;
  line-height: 0;
  padding-bottom: 5px;
  display: none;
}
#welcome .user-item.selected {
  background: #f3f3f3;
}
#welcome .user-item.selected button {
  display: initial;
}

#overview .taco-count,
#more-tacos .taco-count {
  font-size: 150px;
  line-height: 150px;
  padding: 10px;
}
#overview .tacos-today {
  font-size: 16px;
  color: #39a539;
}

#more-tacos .more-tacos-container {
  display: flex;
  justify-content: space-around;
}

#more-tacos .more-tacos-container .button-icon:before {
  margin-top: 10px;
  font-size: 30px;
}

leaderboard-list-item .item.leaderboard-list-item,
taco-item .item.taco-item {
  border-top: 1px solid #ccc !important;
}
leaderboard-list-item.no-border .item.leaderboard-list-item,
taco-item.no-border .item.taco-item {
  border-top: none !important;
}

.leaderboard-list-item p,
.leaderboard-list-item,
.taco-item,
.taco-item p {
  white-space: normal;
}
.taco-item .ion-edit:before {
  font-size: 24px;
  color: #46240c;
}

.leaderboard-list-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 5px;
  align-items: center;
}

.leaderboard-list-item .leaderboard-position-name {
  display: flex;
  align-items: center;
  width: 100%;
}
.leaderboard-list-item .leaderboard-name {
  max-width: calc(100% - 125px);
}
.leaderboard-list-item .leaderboard-position {
  width: 50px;
  font-size: 2em;
  margin-right: 10px;
  text-align: center;
}
.leaderboard-list-item .leaderboard-tacos {
  display: flex;
  align-items: center;
}
.leaderboard-list-item .total-tacos {
  position: absolute;
  right: 35px;
  font-size: 22px;
}
.leaderboard-list-item .tacos-today {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: calc((100% / 2) - 15px);
  right: 0;
  width: 36px;
  line-height: 15px;
  font-size: 12px;
  color: #39a539;
}

#welcome img.taco {
  width: 100%;
}

/*OVERRIDES*/
.list {
  padding-top: 0 !important;
}

ion-popover-view ion-content.scroll-content.ionic-scroll {
  margin: 0 !important;
}
ion-popover-view.fit {
  height: auto !important;
  overflow: none;
}
ion-popover-view.fit ion-header-bar {
  position: relative !important;
}
ion-popover-view.fit ion-content {
  position: relative !important;
  top: 0 !important;
}
.platform-android ion-popover-view {
  margin-top: 12px !important;
}
.platform-ios ion-popover-view.fit ion-content ion-item:first-of-type {
  border-radius: 10px 10px 0 0;
}
.platform-ios ion-popover-view.fit ion-content ion-item:last-of-type {
  border-radius: 0 0 10px 10px;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 800px) {
  ion-content {
    padding-left: calc((100% - 800px) / 2) !important;
    padding-right: calc((100% - 800px) / 2) !important;
  }
}
