ion-tabs.tabs-bottom.hidden .tabs {
  display: none;
}

ion-spinner {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.disabled {
  opacity: .3;
  pointer-events: none;
}

button.button-clear {
  font-variant: all-petite-caps;
  font-size: 24px !important;
}

#welcome .question-section {
  margin-bottom: 20px;
}
#welcome .question-section h1 {
  font-size: 20px;
}
#welcome .user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  height: 46px
}
#welcome .user-item button {
  min-height: 30px;
  line-height: 0;
  padding-bottom: 5px;
  display: none;
}
#welcome .user-item.selected {
  background: #f3f3f3;
}
#welcome .user-item.selected button {
  display: initial;
}

#overview .taco-count,
#more-tacos .taco-count {
  font-size: 150px;
  line-height: 150px;
  padding: 10px;
}

#more-tacos .more-tacos-container {
  display: flex;
  justify-content: space-around;
}

#more-tacos .more-tacos-container .button-icon:before {
  margin-top: 10px;
  font-size: 30px;
}

leaderboard-list-item .item.leaderboard-list-item,
taco-item .item.taco-item {
  border-top: 1px solid #ccc !important;
}
leaderboard-list-item.no-border .item.leaderboard-list-item,
taco-item.no-border .item.taco-item {
  border-top: none !important;
}

.leaderboard-top-ten {
  text-align: center;
}

.leaderboard-list-item p,
.leaderboard-list-item,
.taco-item,
.taco-item p {
  white-space: normal;
}
.taco-item .ion-edit:before {
  font-size: 24px;
  color: #46240c;
}

.leaderboard-list-item {
  display: flex;
  justify-content: space-between;
}

.leaderboard-list-item .leaderboard-position-name {
  display: flex;
}

.leaderboard-list-item .leaderboard-position {
  width: 50px;
  font-size: 2em;
  margin-right: 10px;
  text-align: center;
}

/*OVERRIDES*/
.list {
  padding-top: 0 !important;
}
