ion-tabs.tabs-bottom.hidden .tabs {
  display: none;
}

ion-spinner {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

button.button-clear.button-block {
  font-variant: all-petite-caps;
  font-size: 24px !important;
}

#welcome .question-section {
  margin-bottom: 20px;
}
#welcome .question-section h1 {
  font-size: 20px;
}

#overview .taco-count,
#more-tacos .taco-count {
  font-size: 150px;
  line-height: 150px;
  padding: 10px;
}

#more-tacos .more-tacos-container {
  display: flex;
  justify-content: space-around;
}

#more-tacos .more-tacos-container .button-icon:before {
  margin-top: 10px;
  font-size: 30px;
}

.taco-item p {
  white-space: normal;
}
